<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <servers>
      <server>
         <id>nexus-snapshots</id>
         <username>cicd</username>
         <password>1F2ULFGhv8QuY*</password>
      </server>
      <server>
         <id>nexus-releases</id>
         <username>cicd</username>
         <password>1F2ULFGhv8QuY*</password>
      </server>
      <server>
         <id>nexus-tests</id>
         <username>cicd</username>
         <password>1F2ULFGhv8QuY*</password>
      </server>
      <server>
         <id>internal-repository</id>
         <username>cicd</username>
         <password>1F2ULFGhv8QuY*</password>
      </server>
   </servers>
   <mirrors>
      <mirror>
         <id>internal-repository</id>
         <name>Maven Repository Manager running on repo.mycompany.com</name>
         <url>http://ebrc-saas-nexus.mgt-001.apps.rh.7957.local</url>
         <mirrorOf>*</mirrorOf>
      </mirror>
   </mirrors>
   <profiles>
      <profile>
         <id>sonar</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
            <sonar.host.url>http://20.101.12.144:9000</sonar.host.url>
            <sonar.login>f79c13cdbf2aea68ae6a0fcd32b4b2896b8d5cc0</sonar.login>
         </properties>
      </profile>
      <profile>
         <properties>
            <altDeploymentRepository>nexus-snapshots::default:https://ebrc-saas-nexus.mgt-001.apps.rh.7957.local/repository/maven-snapshots/</altDeploymentRepository>
            <altReleaseDeploymentRepository>nexus-releases::default::https://ebrc-saas-nexus.mgt-001.apps.rh.7957.local/repository/maven-releases/</altReleaseDeploymentRepository>
            <altSnapshotDeploymentRepository>nexus-snapshots::default::https://ebrc-saas-nexus.mgt-001.apps.rh.7957.local/repository/maven-snapshots/</altSnapshotDeploymentRepository>
         </properties>
         <id>allow-snapshots</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>snapshots-repo</id>
               <url>https://ebrc-saas-nexus.mgt-001.apps.rh.7957.local/repository/maven-snapshots</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
                  <updatePolicy>always</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
      </profile>
   </profiles>
</settings>
